h1 {
    text-align: center;
}
@media screen and (min-width: 0px) {
    app-todo-list {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 800px) {
    app-todo-list {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
}
